/*Generales*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("../image/concrete.png");
  color: #331f1c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/*Navegador*/
nav a {
    color: #331f1c;
}

nav ul a {
    color: #331f1c;
}

nav .brand-logo {
    position: absolute;
    color: #331f1c;
    display: inline-block;
    font-size: 2.1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 0;
    white-space: nowrap;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #331f1c;
}

.dropdown-content {
    min-width: 250px;
}

.ac-nav {
    border: none;
    position: relative;
    float: right;
    padding: 0 10px;
    margin-right: 15px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
}

.toggle-nav {
    border: none;
    position: fixed;
    float: left;
    padding: 9px 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 8px;
    background: none;
    border-radius: 4px;
    z-index: 1000;
}
/* Icon 4 */
#nav-icon4 {
  width: 27px;
  height: 17px;
  position: relative;
  margin: 0px auto;
  z-index: 9999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #331f1c;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  z-index: 9999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  z-index: 9999;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 8px;
  z-index: 9999;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 16px;
  z-index: 9999;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0;
  z-index: 9999;
  background-color: #fff;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  z-index: 9999;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 0;
  z-index: 9999;
  background-color: #fff;
}
/*Sustituye Materialize*/
.dropdown-content li {
    clear: none;
}

/*Estilos propios*/
.presentacion{height:90vh; background-color: #fff;}

.nav-zombie {
   background-color: #c0ca33;
   color: #331f1c;
}

.flotante{
    transition: all 0.3s ease;
    transform: rotate(45deg);
}

.login {
    background-color: #eee;
    background-image: url("http://zombiewalk.mrvector.com.py/assets/imgs/gallery/img-0221.jpg");
    background-repeat: none;
    background-size: cover;
    height: 90vh;
}

.row .col-centered {
    float: none;
    margin: 0 auto;
}

.well {
    padding: 5px 20px 20px 20px;
}

.st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu>ul>li {
    width: 100%;
}

.st-menu a {
    width: 100%;
}
/*Footer*/
.pie {
    background-color: #331f1c;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
}

.footer-copyright {
    background-color: #120b0a;
    color: #f2f2f2;
    padding: 4px 0;
}