<?php echo $header; ?>
 
<?php echo $column_left; ?>
<?php echo $column_right; ?>
 
<div class="presentacion">
 <h2>En Construccion</h2>
 <p>Proximamente, tienda online...</p>
</div>
 
<?php echo $footer; ?>